.large-font {
  font-size: 500px;
  border: none;
  background-color: white;
}

.details-description {
  background-color: #f7f5fb;
  border: 4px solid #174550;
  border-radius: 8px;
  position: relative;
  padding: 16px 32px;
  margin-left: 24px;
}

.details-page-container {
  display: flex;
  margin-top: 68px;
}

.details-description .heart {
  position: absolute;
  top: 24px;
  right: 24px;
}

.is-loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12.5%;
  color: #174550;
  font-size: 50px;
}