.large-font{
    font-size: 500px;
    border: none;
    background-color: white;
  }
  .top-20{
    /* position:relative; */
    top:20vh;
  }
  .heart.active{
    animation:like 0.5s 1;
    fill:red;
    stroke:none;
  }
  .heart{
    fill:transparent;
    stroke:black;
    stroke-width:30;
    transition:all 0.5s;
  }
  
  
  @-webkit-keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.2); }
    100% { transform: scale(1.1); }
  }