.heart {
  font-size: 40px;
  fill: rgb(137, 137, 137);
  cursor: pointer;
  transition: all 0.5s;
}

.heart.active {
  font-size: 40px;
  fill: rgb(225, 46, 46);
  animation: like 0.5s 1;
}

.heart:hover {
  transform: scale(1.1);
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes like {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
