.large-font {
    font-size: 50px;
    border: none;
    background-color: white;
  }
  
  .heart.active {
    animation: like 0.5s 1;
    fill: red;
  }
  
  .heart {
    transition: all 0.5s;
    fill: grey;
  
  }
  
  
  @-webkit-keyframes like {
    0% {
      transform: scale(1);
    }
  
    90% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1.1);
    }
  }