.App {
  background-color: #57bf93;
  padding: 32px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  background-color: #174550;
  color: white;
  border-radius: 8px;
  margin-bottom: 16px;
  justify-content: space-between;
}

header > img {
  width: 80px;
  height: auto;
  margin-left: 24px;
}

.button {
  color: #184550;
  text-decoration: none;
  background-color: rgb(0, 221, 255);
  border: none;
  padding: 12px 40px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 12px;
}

.selected {
  background-color: rgb(171, 176, 177);
  cursor: default;
}

