@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Signika+Negative:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.heart-container:focus {
  outline-width: 5px;
  outline-style: solid;
  outline-color: #f17b89;
}

.heart-container {
  border-style: none;
  background-color: #f7f5fa;
}
